/*---------------------------------------------------Basics-----------------------------------------------------------*/
html {
    background: #eeeeee;
    color: #333333;
    height: 100%;
    font-family: Helvetica;
    min-width: 310px;
}

h1 {

}

body {
    margin: 0px 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: #333333;
    text-align: center;
}

p {
    padding: 0px;
    margin: 0px;
}

img {
    max-width: 100%;
}

#footer {
    flex-shrink: 0;
}

#body {
    flex: 1 0 auto;
    padding: 0px 25px 0px 20px;
}

/*---------------------------------------------------NavBar-----------------------------------------------------------*/

#homeTab {
    height: 30px;
    width: 30px;
    padding: 8px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border-bottom: 3px #333333 solid;
}

.tab {
    padding: 14px 20px;
    font-size: 20px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.tab:hover {
    color: #eeeeee;
    background-color: #333333;
}

.navTab {
    flex-wrap: wrap;
    display: inline-flex;
}

.logTab {
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: flex-end;
}

#current {
    background-color: coral;
}

/*---------------------------------------------------Footer-----------------------------------------------------------*/

#copyrightDiv {
    display: flex;
    justify-content: center;
    border-top: 1px #333333 solid;
    padding: 15px;
    color: #777777;
}

#linkDiv {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    padding-bottom: 10px;
}

#subject, #from {
    height: 20px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #666666;
}

#content {
    width: 100%;
    max-width: 600px;
    height: 300px;
    resize: vertical;
    border: 1px solid #666666;
}

.footerLink {
    margin: 0px 30px;
}

/*---------------------------------------------------Capture----------------------------------------------------------*/

#capturePage {
    display: flex;
    justify-content: space-around;
}

#video {
    border: 1px solid #666666;
    width: 600px;
    height: 450px;
}

#photo {
    object-fit: cover;
    border: 1px solid #666666;
    width: 600px;
    height: 450px;
}

#canvas {
    display: none;
}

.camera {
    width: 600px;
}

.output {
    width: 600px;
    object-fit: cover;
}

.captureButton {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid rgb(238, 238, 238);
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 1), 0px 0px 1px rgba(0, 0, 0, 1);
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
    font-size: 25px;
    color: rgb(238, 238, 238);
}

/*---------------------------------------------------Display----------------------------------------------------------*/

.display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px -20px;
}

.preview {
    object-fit: cover;
    width: 300px;
    height: 225px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px #616161;
}

.card {
    background-color: #ffffff;
    box-shadow: 1px 1px 4px #333333;
    border-radius: 10px;
    padding: 5px;
    width: 300px;
    height: auto;
    margin: 10px;
}

.likeNcomment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nLike {
    color: #ff8d8e;
}

.nComment {
    color: #7dd8ff;
}

.pLike, .pComment {
    height: 30px;
    margin: 5px;
}

.likeCount, .commentCount {
    display: flex;
    justify-content: center;
    align-items: center;
}

.commentCount {
    margin-left: auto
}

