/*---------------------------------------------------Basics-----------------------------------------------------------*/
html {
    background: #eeeeee;
    font-family: Helvetica;
    color: #333333;
    height: 100%;
}

h1 {

}

body {
    margin: 0px 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

a {
    text-decoration: none;
    color: #333333;
    text-align: center;
}

p {
    padding: 0px;
    margin: 0px;
}

#footer {
    flex-shrink: 0;
}

#content {
    flex: 1 0 auto;
}

/*---------------------------------------------------NavBar-----------------------------------------------------------*/

#homeTab {
    height: 30px;
    width: 30px;
    padding: 8px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border-bottom: 3px #333333 solid;
}

.tab {
    padding: 14px 20px;
    font-size: 20px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.tab:hover {
    color: #eeeeee;
    background-color: #333333;
}

.navTab {
    flex-wrap: wrap;
    display: inline-flex;
}

.logTab {
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: flex-end;
}

/*---------------------------------------------------Footer-----------------------------------------------------------*/

#copyrightDiv {
    display: flex;
    justify-content: center;
    border-top: 1px #333333 solid;
    padding: 15px;
    color: #777777;
}

#linkDiv {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.footerLink {
    margin: 0px 30px;
    word-break: unset;
}